<nz-modal [(nzVisible)]="visible" nzTitle="Permissions"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleSave()"
  nzWidth="800px"
  nzWrapClassName="permissions-modal"
>
  <div *nzModalContent>
    <div class="permissions-header">
      <input nz-input placeholder="Tìm kiếm quyền..." />
      <label nz-checkbox [ngModel]="isAllSelected()" (ngModelChange)="toggleAllPermissions($event)">
        Chọn tất cả
      </label>
    </div>

    <div class="permissions-container">
      <div class="permissions-sidebar">
        <ul>
          <li *ngFor="let group of groupedPermissions"
              [class.active]="group.module === selectedModule"
              (click)="selectedModule = group.module">
            {{ group.module }}
          </li>
        </ul>
      </div>

      <div class="permissions-content" *ngIf="selectedModule">
        <h4>{{ selectedModule }}</h4>

        <label nz-checkbox [ngModel]="isAllSelected(selectedModule)"
               (ngModelChange)="toggleAllPermissions($event, selectedModule)">
          Select all
        </label>

        <ul>
          <li *ngFor="let perm of getPermissionsByModule(selectedModule)">
            <label nz-checkbox [(ngModel)]="perm.granted"
                   (ngModelChange)="allChecked = isAllSelected()">
              {{ perm.description }}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nz-modal>
