<div class="login-container">
  <div class="login-card">
    <form nz-form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <div class="login-avatar">
        <img
          src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png"
          alt="user" class="user-image">
      </div>

      <!-- Email -->
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="email">Email</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Vui lòng nhập email hợp lệ!">
          <input nz-input id="email" formControlName="email" placeholder="Nhập email" />
        </nz-form-control>
      </nz-form-item>

      <!-- Mật khẩu -->
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="password">Mật khẩu</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input nz-input type="password" id="password" formControlName="password" placeholder="********" />
          <div class="forget-pass">
            <a [routerLink]="['/forget-password']">Quên mật khẩu?</a>
          </div>
        </nz-form-control>
      </nz-form-item>

      <!-- Nút đăng nhập -->
      <div class="text-center">
        <button nz-button nzType="primary" class="login-btn" [nzBlock]="true"
          [disabled]="loginForm.invalid || isLoading">
          {{ isLoading ? 'Đang xử lý...' : 'Đăng nhập' }}
        </button>
      </div>

      <!-- Chuyển sang đăng ký -->
      <div class="sign-up">
        Bạn chưa có tài khoản?
        <a [routerLink]="['/sign-up']">Đăng ký</a> ngay.
      </div>
    </form>
  </div>
</div>