<div class="login-container">
  <div class="login-card">
    <form nz-form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <div class="login-avatar">
        <img
          src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png"
          alt="user" class="user-image">
      </div>

      <!-- Email -->
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="email" nzRequired="true">Email</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="emailErrorTpl">
          <input nz-input id="email" formControlName="email" placeholder="Nhập email" />
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Vui lòng nhập email!
            </ng-container>
            <ng-container *ngIf="control.hasError('email')">
              Email không hợp lệ!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Mật khẩu -->
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="password" nzRequired="true">Mật khẩu</nz-form-label>
        <nz-form-control [nzSpan]="24" [nzErrorTip]="passwordErrorTpl">
          <div class="password-wrapper">
            <input nz-input [type]="passwordVisible ? 'text' : 'password'" id="password" formControlName="password"
              placeholder="********" />
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Vui lòng nhập mật khẩu!
              </ng-container>
            </ng-template>
            <span class="toggle-eye" (click)="passwordVisible = !passwordVisible">
              <nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" nzTheme="outline"></nz-icon>
            </span>
          </div>
          <div class="forget-pass">
            <a [routerLink]="['/forgot-password']">Quên mật khẩu?</a>
          </div>
        </nz-form-control>
      </nz-form-item>

      <!-- Nút đăng nhập -->
      <div class="text-center">
        <button nz-button nzType="primary" class="login-btn" [nzBlock]="true"
          [disabled]="loginForm.invalid || isLoading">
          {{ isLoading ? 'Đang xử lý...' : 'Đăng nhập' }}
        </button>
      </div>

      <!-- Chuyển sang đăng ký -->
      <div class="sign-up">
        Bạn chưa có tài khoản?
        <a [routerLink]="['/sign-up']">Đăng ký</a> ngay.
      </div>
    </form>
  </div>
</div>