<nz-layout class="admin-layout">

  <!-- Sidebar trái -->
  <app-sidebar-left [menuItems]="menuItemsForSidebar" [isCollapsed]="isCollapsed"
    ></app-sidebar-left>
  <!-- End Sidebar trái -->

  <!-- Main Layout -->
  <nz-layout>
    <!-- Header -->
    <app-header style="width: 100%;" [routeMap]="routeMap" [currentTitle]="currentPage.title"
      [currentIcon]="currentPage.icon" [isMenuVisible]="!isMobileMenuHidden"></app-header>
    <!-- End Header -->

    <!-- Content -->
    <nz-content class="admin-content">
      <router-outlet></router-outlet>
    </nz-content>
    <!-- End Content -->

    <!-- Footer -->
    <nz-footer class="admin-footer">© 2025 Admin Panel</nz-footer>
    <!-- End Footer -->
  </nz-layout>
  <!-- End Main Layout -->

  <!-- Sidebar phải (Toolbar) -->
  <app-sidebar-right [isProfileCardOpen]="isProfileCardOpen" (toggleProfileCard)="onToggleProfileCard()" [menuItems]="menuItemsRight"></app-sidebar-right>
  <!-- End Sidebar phải (Toolbar) -->

</nz-layout>