<nz-layout class="admin-layout">

  <app-sidebar-left  [menuItems]="menuItemsForSidebar" [isCollapsed]="isCollapsed"
    (collapseChange)="onCollapse($event)"></app-sidebar-left>

  <!-- Main Layout -->
  <nz-layout>
    <!-- Header -->
    <app-header style="width: 100%;" [routeMap]="routeMap" [currentTitle]="currentPage.title" [currentIcon]="currentPage.icon"></app-header>
    <!-- Content -->
    <nz-content class="admin-content">
      <router-outlet></router-outlet>
    </nz-content>

    <!-- Footer -->
    <nz-footer class="admin-footer">© 2025 Admin Panel</nz-footer>
  </nz-layout>

  <!-- Sidebar phải (Toolbar) -->
  <app-sidebar-right [isProfileCardOpen]="isProfileCardOpen" (toggleProfileCard)="onToggleProfileCard()" (collapseChange)="onCollapse($event)" [menuItems]="menuItemsRight"></app-sidebar-right>
</nz-layout>
