@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;
:host ::ng-deep .ant-layout-sider {
  background: #ffffff !important; 
  transition: all 0.3s ease;
  z-index: 1000;
  height: 100vh; 
}

:host ::ng-deep .ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

:host ::ng-deep .ant-layout-sider .logo {
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #374151;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .ant-layout-sider .ant-menu {
  background: transparent !important;
  border-right: none;
  height: 100vh;
}

:host ::ng-deep .ant-layout-sider .ant-menu-item {
  font-size: 15px;
  padding-left: 20px !important;
  color: #000000 !important;
  transition: background 0.3s ease;
}

:host ::ng-deep .ant-layout-sider .ant-menu-item-selected {
  background: v.$primary-color-admin !important;
  color: #5d5d5d !important;
}
:host ::ng-deep .ant-layout-sider-trigger  {
  background: #ffffff !important;
  color: #000;
}
@include m.sm {
  :host ::ng-deep .ant-layout-sider {
    display: none;
  }
}