@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

:host ::ng-deep .ant-layout-sider {
  background: #ffffff !important; 
  transition: all 0.3s ease;
  z-index: 1000;
  height: 100vh; 
}

:host ::ng-deep .ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;

  .logo span {
    display: none;
  }

  // Căn giữa icon menu
  .ant-menu-item {
    justify-content: center !important;
    padding-left: 0 !important;
  }

  // Chỉ ẩn phần text, không ẩn icon
  .ant-menu-item span.menu-label {
    display: none !important;
  }
}

:host ::ng-deep .ant-layout-sider .logo {
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #374151;
  color: #000000;
}

:host ::ng-deep .ant-layout-sider .ant-menu {
  background: transparent !important;
  border-right: none;
  height: 100vh;
}

:host ::ng-deep .ant-layout-sider .ant-menu-item {
  font-size: 18px;
  padding-left: 20px !important;
  color: #000000 !important;
  transition: all 0.3s ease;
  height: 60px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 12px;
}

:host ::ng-deep .ant-menu-item .anticon {
  font-size: 20px !important;
}

:host ::ng-deep .ant-layout-sider .ant-menu-item-selected {
  background: v.$primary-color-admin !important;
  color: #5d5d5d !important;
}

:host ::ng-deep .ant-layout-sider-trigger {
  background: #ffffff !important;
  color: #000;
}

@include m.sm {
  :host ::ng-deep .ant-layout-sider {
    display: none;
  }
}
