<div class="change-password-container">
    <h2>Thay đổi mật khẩu</h2>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="formChangePassword!" class="change-password-form">
        <nz-row [nzGutter]="16">
            <nz-col [nzXs]="24">
                <nz-form-item>
                    <nz-form-label nzRequired="true">Mật khẩu hiện tại</nz-form-label>
                    <nz-form-control>
                        <input [type]="currentPasswordVisible ? 'text' : 'password'" nz-input name="currentPassword" formControlName="currentPassword"
                            placeholder="Nhập mật khẩu hiện tại" />
                        <button type="button" class="toggle-eye" (click)="currentPasswordVisible = !currentPasswordVisible"
                            aria-label="Ẩn/Hiện mật khẩu"
                            style="cursor: pointer; position: absolute; right: 10px; top: 8px; background-color: transparent; border: none; :hover { color: #1890ff;} ; font-size: 16px;">
                            <nz-icon [nzType]="currentPasswordVisible ? 'eye-invisible' : 'eye'"></nz-icon>
                        </button>
                        @if(formChangePassword.get('currentPassword')?.touched &&
                        formChangePassword.get('currentPassword')?.hasError('required'))
                        {
                        <div class="text-red-500 text-xs mt-1 list-disc">
                            Mật khẩu là bắt buộc!
                        </div>
                        }
                        @if(formChangePassword.get('currentPassword')?.hasError('whitespace'))
                        {
                        <div class="text-red-500 text-xs mt-1 list-disc">
                            Mật khẩu không được chứa khoảng trắng!
                        </div>
                        }

                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col [nzXs]="24">
                <nz-form-item>
                    <nz-form-label nzRequired="true">Mật khẩu mới</nz-form-label>
                    <nz-form-control>
                        <input [type]="passwordVisible ? 'text' : 'password'" nz-input name="password" formControlName="password" placeholder="Nhập mật khẩu mới" />
                        <button type="button" class="toggle-eye" (click)="passwordVisible = !passwordVisible"
                            aria-label="Ẩn/Hiện mật khẩu"
                            style="cursor: pointer; position: absolute; right: 10px; top: 8px; background-color: transparent; border: none; :hover { color: #1890ff;} ; font-size: 16px;">
                            <nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"></nz-icon>
                        </button>
                        @if(formChangePassword.get('password')?.touched &&
                        formChangePassword.get('password')?.hasError('required'))
                        {
                        <div class="text-red-500 text-xs mt-1 list-disc">
                            Mật khẩu là bắt buộc!
                        </div>
                        }
                        @if(formChangePassword.get('password')?.hasError('whitespace'))
                        {
                        <div class="text-red-500 text-xs mt-1 list-disc">
                            Mật khẩu không được chứa khoảng trắng!
                        </div>
                        }

                        <ul class="text-red-500 text-xs mt-1 list-disc">
                            <li *ngFor="let rule of pendingRules">{{ rule }}</li>
                        </ul>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col [nzXs]="24">
                <nz-form-item>
                    <nz-form-label nzRequired="true">Xác nhận mật khẩu mới</nz-form-label>
                    <nz-form-control>
                        <input [type]="confirmPasswordVisible ? 'text' : 'password'" nz-input name="confirmPassword" formControlName="confirmPassword"
                            placeholder="Nhập xác nhận mật khẩu mới" />
                        <button type="button" class="toggle-eye" (click)="confirmPasswordVisible = !confirmPasswordVisible"
                            aria-label="Ẩn/Hiện mật khẩu"
                            style="cursor: pointer; position: absolute; right: 10px; top: 8px; background-color: transparent; border: none; :hover { color: #1890ff;} ; font-size: 16px;">
                            <nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"></nz-icon>
                        </button>
                        @if(formChangePassword.get('confirmPassword')?.touched &&
                        formChangePassword.hasError('notSame'))
                        {
                        <div class="text-red-500 text-xs mt-1 list-disc">
                            Mật khẩu không khớp!
                        </div>
                        }
                        @if(formChangePassword.get('confirmPassword')?.touched &&
                        formChangePassword.get('confirmPassword')?.hasError('required'))
                        {
                        <div class="text-red-500 text-xs mt-1 list-disc">
                            Vui lòng xác nhận mật khẩu!
                        </div>
                        }
                    </nz-form-control>
                </nz-form-item>
            </nz-col>

            <nz-col [nzXs]="24" class="button-col">
                <app-button (click)="onSubmit()" (keydown.enter)="onSubmit()" [disabled]="formChangePassword.invalid" [permissions]="[PERMISSIONS.USERS_UPDATE]" type="primary" size="large">Lưu thay đổi</app-button>
            </nz-col>

        </nz-row>
    </form>
</div>