<div class="users-container">
    <!-- Header -->
    <div class="users-header">
        <h2>Người dùng</h2>
        <div class="user-header__actions">
            <button nz-button nzType="primary" (click)="showModal()">Thêm người dùng</button>
        </div>
    </div>

    <!-- Modal: Gán quyền cho user mới -->
    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="isEditMode ? 'Sửa người dùng' : 'Thêm người dùng'"
        (nzOnCancel)="handleCancel()" [nzOkLoading]="isConfirmLoading" [nzFooter]="modalFooter"
        [nzBodyStyle]="{ 'max-height': '60vh', 'overflow-y': 'auto' }">
        <div *nzModalContent>
            <nz-tabs>
                <nz-tab nzTitle="Thông tin người dùng">
                    <form nz-form [nzLayout]="'vertical'" #userForm="ngForm">

                        <!-- Username -->
                        <nz-form-item>
                            <nz-form-label [nzRequired]="true" nzFor="username">Tên đăng nhập</nz-form-label>
                            <nz-form-control [nzErrorTip]="'Tên đăng nhập là bắt buộc'">
                                <input nz-input id="username" name="username" [(ngModel)]="newUser.username" required
                                    placeholder="Nhập tên đăng nhập" [disabled]="isEditMode" />
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Email -->
                        <nz-form-item>
                            <nz-form-label [nzRequired]="true" nzFor="email">Email</nz-form-label>
                            <nz-form-control
                                [nzErrorTip]="emailRef.errors?.['required'] ? 'Vui lòng nhập email': emailRef.errors?.['email'] ? 'Vui lòng nhập email hợp lệ': ''">
                                <input nz-input type="email" id="email" name="email" [(ngModel)]="newUser.email"
                                    required email #emailRef="ngModel" placeholder="Nhập email"
                                    [disabled]="isEditMode" />
                            </nz-form-control>
                        </nz-form-item>


                        <!-- Họ và tên -->
                        <nz-form-item>
                            <nz-form-label nzFor="fullName">Họ và tên</nz-form-label>
                            <nz-form-control>
                                <input nz-input id="fullName" name="fullName" [(ngModel)]="newUser.fullName"
                                    placeholder="Nhập họ và tên" />
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Số điện thoại -->
                        <nz-form-item>
                            <nz-form-label nzFor="phoneNumber">Số điện thoại</nz-form-label>
                            <nz-form-control>
                                <input nz-input type="tel" id="phoneNumber" name="phoneNumber"
                                    [(ngModel)]="newUser.phoneNumber" placeholder="Nhập số điện thoại" />
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Mật khẩu -->
                        <nz-form-item>
                            <nz-form-label [nzRequired]="true" nzFor="password">Mật khẩu</nz-form-label>
                            <nz-form-control>
                                <nz-input-group [nzSuffix]="suffixIcon">
                                    <input nz-input [type]="passwordVisible ? 'text' : 'password'" id="password"
                                        name="password" [(ngModel)]="newUser.password" placeholder="Nhập mật khẩu"
                                        required [disabled]="isEditMode" />
                                </nz-input-group>
                                <ng-template #suffixIcon>
                                    <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                        (click)="passwordVisible = !passwordVisible" style="cursor: pointer;"></span>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Trạng thái -->
                        <nz-form-item>
                            <nz-form-label nzFor="isActive">Trạng thái</nz-form-label>
                            <nz-form-control>
                                <nz-switch id="isActive" name="isActive" [(ngModel)]="newUser.isActive"
                                    [nzCheckedChildren]="'Kích hoạt'" [nzUnCheckedChildren]="'Khóa'">
                                </nz-switch>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </nz-tab>

                <nz-tab nzTitle="Quyền hạn">
                    <form nz-form [nzLayout]="'vertical'">
                        <nz-form-item>
                            <nz-form-label>Chọn vai trò</nz-form-label>
                            <nz-form-control>
                                <div *ngFor="let role of roles">
                                    <label nz-checkbox [(ngModel)]="role.checked" name="{{ role.name }}"
                                        (ngModelChange)="onChangeRoleSelection()">
                                        {{ role.name }}
                                    </label>
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </nz-tab>
            </nz-tabs>
        </div>
    </nz-modal>

    <!-- Modal: Assign permissions -->
    <app-assign-permission-modal [visible]="isAssignVisible" [user]="selectedUser"
        [groupedPermissions]="groupedPermissions" (cancel)="handleAssignCancel()"
        (save)="handleAssignOk($event)"></app-assign-permission-modal>

    <nz-modal [(nzVisible)]="isViewDetailsVisible" nzTitle="Xem chi tiết" (nzOnCancel)="handleViewDetailsCancel()"
        [nzOkLoading]="isConfirmLoading" [nzFooter]="modalFooterViewDetails">
        <div *nzModalContent>
            <table class="details-table">
                <tr>
                    <td class="label">Mã người dùng</td>
                    <td>{{ selectedUser?.id }}</td>
                </tr>
                <tr>
                    <td class="label">Tên đăng nhập</td>
                    <td>{{ selectedUser?.username }}</td>
                </tr>
                <tr>
                    <td class="label">Họ và tên</td>
                    <td>{{ selectedUser?.fullName }}</td>
                </tr>
                <tr>
                    <td class="label">Email</td>
                    <td>{{ selectedUser?.email }}</td>
                </tr>
                <tr>
                    <td class="label">Số điện thoại</td>
                    <td>{{ selectedUser?.phoneNumber }}</td>
                </tr>
                <tr>
                    <td class="label">Trạng thái</td>
                    <td>
                        <nz-tag [nzColor]="selectedUser?.isActive ? 'green' : 'red'">
                            {{ selectedUser?.isActive ? 'Kích hoạt' : 'Không kích hoạt' }}
                        </nz-tag>
                    </td>
                </tr>
            </table>
        </div>
    </nz-modal>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Lưu</button>
    </ng-template>

    <ng-template #modalFooterViewDetails>
        <button style="width: 100%;" nz-button nzType="primary" (click)="handleViewDetailsCancel()">Đóng</button>
    </ng-template>

    <!-- Search -->
    <div class="search-bar">
        <nz-input-group [nzSuffix]="suffixIcon">
            <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="searchQuery"
                (ngModelChange)="filterUsers()" />
        </nz-input-group>
        <ng-template #suffixIcon>
            <i nz-icon nzType="search"></i>
        </ng-template>
    </div>

    <!-- Table -->
    <nz-table #userTable [nzData]="users" [nzFrontPagination]="false" class="user-table">
        <thead>
            <tr>
                <th nzWidth="16.6%">Hành động</th>
                <th nzWidth="16.6%">Tên người dùng</th>
                <th nzWidth="16.6%">Họ và tên</th>
                <th nzWidth="16.6%">Địa chỉ email</th>
                <th nzWidth="16.6%">Số điện thoại</th>
                <th nzWidth="16.6%">Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userTable.data">
                <td>
                    <a class="action-dropdown" nz-dropdown [nzDropdownMenu]="menu">
                        <nz-icon nzType="setting" nzTheme="outline"
                            style="font-size: 16px; padding-right: 5px;"></nz-icon>
                        Hành động
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item><button nz-button nzType="link" (click)="viewDetails(user)"
                                    [disabled]="user.id===1">Xem chi
                                    tiết</button></li>
                            <li nz-menu-item><button nz-button nzType="link" (click)="editUser(user)"
                                    [disabled]="user.id===1">Sửa</button></li>
                            <li nz-menu-item><button nz-button nzType="link" (click)="showAssignModal(user)"
                                    [disabled]="user.id===1">Gán
                                    quyền</button></li>
                            <li nz-menu-item><button nz-button nzType="link" (click)="deleteUser(user)"
                                    [disabled]="user.id===1">Xóa</button>
                            </li>
                            <li nz-menu-item>
                                <button nz-button nzType="link" (click)="toggleLock(user)" [disabled]="user.id === 1">
                                    {{ user.isActive ? 'Lock' : 'Unlock' }}
                                </button>
                            </li>

                        </ul>
                    </nz-dropdown-menu>
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>
                    <nz-tag [nzColor]="user.isActive ? 'green' : 'red'">
                        {{ user.isActive ? 'Kích hoạt' : 'Không kích hoạt' }}
                    </nz-tag>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <!-- Pagination -->
    <app-pagination [total]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage"
        (pageChange)="onPageChange($event)"></app-pagination>
</div>