<div class="users-container">
    <!-- Header -->
    <div class="users-header">
        <h2>Người dùng</h2>
        <div class="user-header__actions">
            <app-button type="primary" size="large" (click)="showModal()">Thêm người dùng</app-button>
        </div>
    </div>
    <!--End Header-->

    <!-- Modal: Thêm người dùng -->
    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="isEditMode ? 'Sửa người dùng' : 'Thêm người dùng'"
        (nzOnCancel)="handleCancel()" [nzOkLoading]="isConfirmLoading" [nzFooter]="modalFooter"
        [nzBodyStyle]="{ 'max-height': '60vh', 'overflow-y': 'auto' }">
        <div *nzModalContent>
            <nz-tabs>
                <nz-tab nzTitle="Thông tin người dùng">
                    <form nz-form [nzLayout]="'vertical'" [formGroup]="userForm">

                        <!-- Username -->
                        <nz-form-item>
                            <nz-form-label [nzRequired]="true" nzFor="username">Tên đăng nhập</nz-form-label>
                            <nz-form-control>
                                <input nz-input id="username" name="username" formControlName="username"
                                    [(ngModel)]="newUser.username" placeholder="Nhập tên đăng nhập" />
                                @if(userForm.get('username')?.touched && userForm.get('username')?.hasError('required'))
                                {
                                <div class="text-red-500 text-xs mt-1 list-disc">
                                    Tên đăng nhập là bắt buộc!
                                </div>
                                }
                                @if(userForm.get('username')?.hasError('whitespace'))
                                {
                                <div class="text-red-500 text-xs mt-1 list-disc">
                                    Tên đăng nhập không được chứa khoảng trắng!
                                </div>
                                }
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Email -->
                        <nz-form-item>
                            <nz-form-label [nzRequired]="true" nzFor="email">Email</nz-form-label>
                            <nz-form-control>
                                <input nz-input type="email" id="email" name="email" formControlName="email"
                                    [(ngModel)]="newUser.email" required email placeholder="Nhập email" />
                                @if(userForm.get('email')?.touched && userForm.get('email')?.hasError('required'))
                                {
                                <div class="text-red-500 text-xs mt-1 list-disc">
                                    Email là bắt buộc!
                                </div>
                                }
                                @if(userForm.get('email')?.hasError('email'))
                                {
                                <div class="text-red-500 text-xs mt-1 list-disc">
                                    Email không hợp lệ!
                                </div>
                                }
                            </nz-form-control>
                        </nz-form-item>


                        <!-- Họ và tên -->
                        <nz-form-item>
                            <nz-form-label nzFor="fullName">Họ và tên</nz-form-label>
                            <nz-form-control>
                                <input nz-input id="fullName" name="fullName" formControlName="fullName"
                                    placeholder="Nhập họ và tên" [(ngModel)]="newUser.fullName" />
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Số điện thoại -->
                        <nz-form-item>
                            <nz-form-label nzFor="phoneNumber">Số điện thoại</nz-form-label>
                            <nz-form-control>
                                <input nz-input type="text" id="phoneNumber" name="phoneNumber" minlength="10"
                                    maxlength="10" formControlName="phoneNumber" placeholder="Nhập số điện thoại"
                                    [(ngModel)]="newUser.phoneNumber" />
                                @if(userForm.get('phoneNumber')?.hasError('pattern'))
                                {
                                <div class="text-red-500 text-xs mt-1 list-disc">
                                    Số điện thoại phải có 10 số và bắt đầu bằng 0!
                                </div>
                                }
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Địa chỉ -->
                        <nz-form-item>
                            <nz-form-label nzFor="address">Địa chỉ</nz-form-label>
                            <nz-form-control>
                                <input nz-input id="address" name="address" formControlName="address"
                                    placeholder="Nhập địa chỉ" [(ngModel)]="newUser.address" />
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Mật khẩu -->
                        <nz-form-item>
                            <nz-form-label [nzRequired]="true" nzFor="password">Mật khẩu</nz-form-label>
                            <nz-form-control>
                                <div>
                                    <input nz-input [type]="passwordVisible ? 'text' : 'password'" id="password"
                                        name="password" formControlName="password" placeholder="Nhập mật khẩu" required
                                        [ngModel]="newUser.password" />
                                    <button nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                        (click)="passwordVisible = !passwordVisible"
                                        style="cursor: pointer; position: absolute; right: 10px; top: 8px; background-color: transparent; border: none; :hover { color: #1890ff;} ; font-size: 16px;"></button>
                                </div>

                                <div>
                                    @if(userForm.get('password')?.touched &&
                                    userForm.get('password')?.hasError('required'))
                                    {
                                    <div class="text-red-500 text-xs mt-1 list-disc">
                                        Mật khẩu là bắt buộc!
                                    </div>
                                    }
                                    @if(userForm.get('password')?.hasError('whitespace'))
                                    {
                                    <div class="text-red-500 text-xs mt-1 list-disc">
                                        Mật khẩu không được chứa khoảng trắng!
                                    </div>
                                    }

                                    <ul class="text-red-500 text-xs mt-1 list-disc">
                                        <li *ngFor="let rule of pendingRules">{{ rule }}</li>
                                    </ul>
                                </div>
                            </nz-form-control>
                        </nz-form-item>

                        <!-- Xác nhận mật khẩu -->
                        <nz-form-item *ngIf="!isEditMode">
                            <nz-form-label [nzRequired]="true" nzFor="confirmPassword">Nhập lại mật khẩu</nz-form-label>
                            <nz-form-control>
                                <div>
                                    <input nz-input [type]="confirmPasswordVisible ? 'text' : 'password'"
                                        id="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
                                        placeholder="Nhập lại mật khẩu" required />
                                    <button nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                                        (click)="confirmPasswordVisible = !confirmPasswordVisible"
                                        style="cursor: pointer; position: absolute; right: 10px; top: 8px; background-color: transparent; border: none; :hover { color: #1890ff;} ; font-size: 16px;">
                                    </button>
                                </div>
                                <div>
                                    @if(userForm.get('confirmPassword')?.touched && userForm.hasError('notSame'))
                                    {
                                    <div class="text-red-500 text-xs mt-1 list-disc">
                                        Mật khẩu không khớp!
                                    </div>
                                    }
                                    @if(userForm.get('confirmPassword')?.touched &&
                                    userForm.get('confirmPassword')?.hasError('required'))
                                    {
                                    <div class="text-red-500 text-xs mt-1 list-disc">
                                        Vui lòng xác nhận mật khẩu!
                                    </div>
                                    }
                                </div>
                            </nz-form-control>
                        </nz-form-item>



                        <!-- Trạng thái -->
                        <nz-form-item>
                            <nz-form-label nzFor="isActive">Trạng thái</nz-form-label>
                            <nz-form-control>
                                <nz-switch id="isActive" name="isActive" formControlName="isActive"
                                    [nzCheckedChildren]="'Kích hoạt'" [nzUnCheckedChildren]="'Khóa'">
                                </nz-switch>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </nz-tab>

                <nz-tab nzTitle="Quyền hạn">
                    <form nz-form [nzLayout]="'vertical'">
                        <nz-form-item>
                            <nz-form-label>Chọn vai trò</nz-form-label>
                            <nz-form-control>
                                <div *ngFor="let role of roles">
                                    <label [for]="'role-' + role.name"
                                        style="display: flex; align-items: center; gap: 8px;">
                                        <input style="accent-color: #1890ff;" type="checkbox" id="role-{{ role.name }}"
                                            [(ngModel)]="role.checked" [name]="role.name"
                                            (ngModelChange)="onChangeRoleSelection()" />
                                        {{ role.name }}
                                    </label>
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </nz-tab>
            </nz-tabs>
        </div>
    </nz-modal>

    <ng-template #modalFooter>
        <app-button type="cancel" (click)="handleCancel()" style="margin-right: 10px;">Hủy</app-button>
        <app-button type="primary" (click)="handleOk()" [disabled]="userForm.invalid"
            [isLoading]="isConfirmLoading">Lưu</app-button>
    </ng-template>
    <!-- End Modal: Thêm người dùng-->

    <!-- Modal: Gán quyền -->
    <app-assign-permission-modal [visible]="isAssignVisible" [user]="selectedUser"
        [groupedPermissions]="groupedPermissions" (cancelModal)="handleAssignCancel()"
        (save)="handleAssignOk($event)"></app-assign-permission-modal>
    <!-- End Modal: Gán quyền -->

    <!-- Modal: Xem chi tiết -->
    <nz-modal [(nzVisible)]="isViewDetailsVisible" nzTitle="Xem chi tiết" (nzOnCancel)="handleViewDetailsCancel()"
        [nzOkLoading]="isConfirmLoading" [nzFooter]="modalFooterViewDetails">
        <div *nzModalContent>
            <table class="details-table">
                <thead>
                    <tr>
                        <th>Thuộc tính</th>
                        <th>Giá trị</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="label">Mã người dùng</td>
                        <td>{{ selectedUser?.id }}</td>
                    </tr>
                    <tr>
                        <td class="label">Tên đăng nhập</td>
                        <td>{{ selectedUser?.username }}</td>
                    </tr>
                    <tr>
                        <td class="label">Họ và tên</td>
                        <td>{{ selectedUser?.fullName }}</td>
                    </tr>
                    <tr>
                        <td class="label">Email</td>
                        <td>{{ selectedUser?.email }}</td>
                    </tr>
                    <tr>
                        <td class="label">Số điện thoại</td>
                        <td>{{ selectedUser?.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <td class="label">Địa chỉ</td>
                        <td class="address-cell">{{ selectedUser?.address }}</td>
                    </tr>
                    <tr>
                        <td class="label">Ngày tạo</td>
                        <td>{{ selectedUser?.createdAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                    </tr>
                    <tr>
                        <td class="label">Trạng thái</td>
                        <td>
                            <nz-tag [nzColor]="selectedUser?.isActive ? 'green' : 'red'">
                                {{ selectedUser?.isActive ? 'Kích hoạt' : 'Không kích hoạt' }}
                            </nz-tag>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nz-modal>

    <ng-template #modalFooterViewDetails>
        <app-button type="primary" (click)="handleViewDetailsCancel()">Đóng</app-button>
    </ng-template>
    <!-- End Modal: Xem chi tiết -->

    <!-- Modal: Đổi mật khẩu -->
    <nz-modal [(nzVisible)]="isChangePasswordVisible" nzTitle="Đặt lại mật khẩu"
        (nzOnCancel)="handleCancelChangePassword()" [nzFooter]="changePasswordFooter">
        <div *nzModalContent>
            <form nz-form nzLayout="horizontal" [formGroup]="userForm">

                <!-- Mật khẩu mới -->
                <nz-form-item>
                    <nz-form-label style="text-align: left;" [nzRequired]="true" nzFor="password" [nzSpan]="7">
                        Mật khẩu mới
                    </nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <nz-input-group [nzSuffix]="suffixNewPwdIcon">
                            <input nz-input [type]="passwordVisible ? 'text' : 'password'" id="password" name="password"
                                [(ngModel)]="changePassword.newPassword" placeholder="Nhập mật khẩu mới"
                                formControlName="password" />
                        </nz-input-group>
                        @if(userForm.get('password')?.hasError('whitespace'))
                        {
                        <div class="text-red-500 text-xs mt-1 list-disc">
                            Mật khẩu không được chứa khoảng trắng!
                        </div>
                        }
                        <ul class="text-red-500 text-xs mt-1 list-disc">
                            <li *ngFor="let rule of pendingRules">{{ rule }}</li>
                        </ul>
                        <ng-template #suffixNewPwdIcon>
                            <button nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                (click)="passwordVisible = !passwordVisible"
                                style="cursor: pointer; background-color: transparent; border: none;"></button>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <!-- Nhập lại mật khẩu -->
                <nz-form-item>
                    <nz-form-label style="text-align: left;" [nzRequired]="true" nzFor="confirmPassword" [nzSpan]="7">
                        Nhập lại mật khẩu
                    </nz-form-label>
                    <nz-form-control [nzSpan]="18">
                        <nz-input-group [nzSuffix]="suffixConfirmPwdIcon">
                            <input nz-input [type]="confirmPasswordVisible ? 'text' : 'password'" id="confirmPassword"
                                name="confirmPassword" formControlName="confirmPassword" [(ngModel)]="confirmPassword"
                                required placeholder="Nhập lại mật khẩu" />

                        </nz-input-group>
                        @if(confirmPassword && confirmPassword !== changePassword.newPassword)
                        {
                        <div class="text-red-500 text-xs mt-1 list-disc">
                            Mật khẩu không khớp!
                        </div>
                        }
                        <ng-template #suffixConfirmPwdIcon>
                            <button nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                                (click)="confirmPasswordVisible = !confirmPasswordVisible"
                                style="cursor: pointer; background-color: transparent; border: none;"></button>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

            </form>
        </div>
    </nz-modal>

    <ng-template #changePasswordFooter>
        <app-button type="cancel" (click)="handleCancelChangePassword()" style="margin-right: 10px;">Hủy</app-button>
        <app-button type="primary" (click)="handleOkChangePassword()" [isLoading]="isConfirmLoading"
            [disabled]="!userForm.valid || confirmPassword !== changePassword.newPassword">Đặt lại mật khẩu</app-button>
    </ng-template>
    <!-- End Modal: Đổi mật khẩu -->

    <!-- Search -->
    <div class="search-bar" style="display: flex; gap: 8px; align-items: center; margin-bottom: 16px;">
        <nz-input-group>
            <input type="text" nz-input placeholder="Tìm kiếm theo tên đăng nhập và email" [(ngModel)]="searchQuery" />
        </nz-input-group>
        <app-button type="primary" (click)="filterUsers()"><i nz-icon nzType="search"></i>Tìm kiếm</app-button>
    </div>
    <!-- End Search -->

    <!-- Bộ lọc -->
    <div class="filter-container">
        <form nz-form nzLayout="vertical" class="filter-grid">
            <!-- Email -->
            <nz-form-item>
                <nz-form-label>Email</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="filters.email" name="email" placeholder="Nhập email" />
                </nz-form-control>
            </nz-form-item>

            <!-- Username -->
            <nz-form-item>
                <nz-form-label>Tên đăng nhập</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="filters.username" name="username" placeholder="Nhập username" />
                </nz-form-control>
            </nz-form-item>

            <!-- Số điện thoại -->
            <nz-form-item>
                <nz-form-label>SĐT</nz-form-label>
                <nz-form-control>
                    <input type="number" nz-input [(ngModel)]="filters.phone" name="phone"
                        placeholder="Nhập số điện thoại" />
                </nz-form-control>
            </nz-form-item>

            <!-- Họ tên -->
            <nz-form-item>
                <nz-form-label>Họ tên</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="filters.fullName" name="fullName" placeholder="Nhập họ tên" />
                </nz-form-control>
            </nz-form-item>

            <!-- Địa chỉ -->
            <nz-form-item>
                <nz-form-label>Địa chỉ</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="filters.atDress" name="atDress" placeholder="Nhập địa chỉ" />
                </nz-form-control>
            </nz-form-item>

            <!-- Trạng thái -->
            <nz-form-item>
                <nz-form-label>Trạng thái</nz-form-label>
                <nz-form-control>
                    <nz-select [(ngModel)]="filters.isActive" name="isActive" style="width: 100%;">
                        <nz-option [nzValue]="true" nzLabel="Kích hoạt"></nz-option>
                        <nz-option [nzValue]="false" nzLabel="Không kích hoạt"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <!-- Ngày tạo -->
            <nz-form-item>
                <nz-form-label>Ngày tạo</nz-form-label>
                <nz-form-control>
                    <input nz-input type="date" [(ngModel)]="filters.createdAt" name="createdAt" />
                </nz-form-control>
            </nz-form-item>

            <!-- Buttons -->
            <nz-form-item class="filter-buttons"
                style="grid-column: span 4; display: flex; justify-content: flex-end; align-items: flex-end; gap: 8px;">
                <app-button type="primary" size="large" (click)="applyFilter()">Lọc</app-button>
                <app-button type="cancel" size="large" (click)="resetFilter()">Làm mới</app-button>
            </nz-form-item>
        </form>
    </div>
    <!-- End Bộ lọc -->




    <!-- Table -->
    <nz-table #userTable [nzData]="users" [nzFrontPagination]="false" class="user-table" [nzLoading]="loading">
        <thead>
            <tr>
                <th scope="col" nzWidth="10%" nzColumnKey="username">Hành động</th>
                <th scope="col" nzWidth="12%" nzColumnKey="username" [nzSortFn]="true"
                    (nzSortOrderChange)="onSort('username', $event)">
                    Tên người dùng
                </th>

                <th scope="col" nzWidth="14%" nzColumnKey="fullName" [nzSortFn]="true"
                    (nzSortOrderChange)="onSort('fullName', $event)">
                    Họ và tên
                </th>

                <th scope="col" nzWidth="18%" nzColumnKey="email" [nzSortFn]="true"
                    (nzSortOrderChange)="onSort('email', $event)">
                    Địa chỉ email
                </th>

                <th scope="col" nzWidth="12%" nzColumnKey="phoneNumber" [nzSortFn]="true"
                    (nzSortOrderChange)="onSort('phoneNumber', $event)">
                    Số điện thoại
                </th>

                <th scope="col" nzWidth="14%" nzColumnKey="address" [nzSortFn]="true"
                    (nzSortOrderChange)="onSort('address', $event)">
                    Địa chỉ
                </th>

                <th scope="col" nzWidth="12%" nzColumnKey="createdAt" [nzSortFn]="true"
                    (nzSortOrderChange)="onSort('createdAt', $event)">
                    Ngày tạo
                </th>

                <th scope="col" nzWidth="8%" nzColumnKey="isActive" [nzSortFn]="true"
                    (nzSortOrderChange)="onSort('isActive', $event)">
                    Trạng thái
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userTable.data">
                <td>
                    <app-action-dropdown [actions]="[
    { label: 'Xem chi tiết', emitName: 'viewDetails', icon: 'eye' },
    { label: 'Sửa', emitName: 'editUser', icon: 'edit', disabled: user.email === 'admin@system.com' },
    { label: 'Gán quyền', emitName: 'assignUser', icon: 'user-add', disabled: user.email === 'admin@system.com' },
    { label: 'Xóa', emitName: 'deleteUser', icon: 'delete', type: 'danger', disabled: user.email === 'admin@system.com' },
    { label: 'Đặt lại mật khẩu', emitName: 'changePassword', icon: 'key', disabled: user.email === 'admin@system.com' },
    {
      label: user.isActive ? 'Khóa' : 'Mở khóa',
      emitName: 'toggleLock',
      icon: user.isActive ? 'lock' : 'unlock',
      type: 'cancel',
      disabled: user.email === 'admin@system.com'
    }
  ]" dropdownLabel="Hành động" [dropdownIcon]="'setting'" [data]="user"
                        (action)="handleUserAction($event)"></app-action-dropdown>
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>
                    <span class="ellipsis" nz-tooltip [nzTooltipTitle]="user.address">
                        {{ user.address }}
                    </span>
                </td>

                <td>{{ user.createdAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>
                    <nz-tag [nzColor]="user.isActive ? 'green' : 'red'">
                        {{ user.isActive ? 'Kích hoạt' : 'Không kích hoạt' }}
                    </nz-tag>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <!-- End Table -->

    <app-confirm-dialog [(isVisible)]="isDeleteModalVisible" title="Xóa người dùng"
        message="Bạn có chắc muốn xóa người dùng này không?" confirmText="Xóa" confirmType="danger" cancelText="Hủy"
        (confirm)="handleConfirmDelete()" (cancelModal)="handleCancelDelete()"></app-confirm-dialog>

    <app-confirm-dialog [(isVisible)]="isDeleteModalVisible" title="Xác nhận hành động" message="Bạn có chắc muốn {{ selectedUser?.isActive ? 'khóa' : 'mở khóa' }} người dùng này không?"
        [confirmText]="selectedUser?.isActive ? 'Khóa' : 'Mở khóa'" [cancelText]="'Hủy'"
        (confirm)="handleConfirmLock()" (cancelModal)="handleCancelLock()"></app-confirm-dialog>




    <!-- Pagination -->
    <app-pagination [total]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage"
        (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)"></app-pagination>
    <!-- End Pagination -->
</div>