<div class="forget-container">
  <div class="forget-card">
    <form nz-form class="forget-form">
      <div class="forget-avatar">
        <img
          src="https://cdn-icons-png.flaticon.com/512/2910/2910768.png"
          alt="forget-password" class="user-image">
      </div>

      <h2 class="text-center">Quên mật khẩu</h2>
      <p class="text-center note">
        Nhập email để nhận liên kết đặt lại mật khẩu.
      </p>

      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="email">Email</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input nz-input id="email" placeholder="Nhập email của bạn" />
        </nz-form-control>
      </nz-form-item>

      <div class="text-center">
        <button nz-button nzType="primary" class="forget-btn" [nzBlock]="true">
          Gửi liên kết đặt lại
        </button>
      </div>

      <div class="back-login">
        Nhớ mật khẩu?
        <a [routerLink]="['/login']">Đăng nhập</a>.
      </div>
    </form>
  </div>
</div>
