<div class="forget-container">
    <div class="forget-card">
        <form nz-form [formGroup]="formGroup" class="forget-form" (ngSubmit)="sendResetLink()">
            <div class="forget-avatar">
                <img src="https://cdn-icons-png.flaticon.com/512/2910/2910768.png" alt="forget-password"
                    class="user-image">
            </div>

            <h2 class="text-center">Quên mật khẩu</h2>
            <p class="text-center note">
                Nhập email để nhận liên kết đặt lại mật khẩu.
            </p>

            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzFor="email" [nzRequired]="true">Email</nz-form-label>
                <nz-form-control [nzSpan]="24" [nzErrorTip]="emailErrorTpl">
                    <input nz-input id="email" placeholder="Nhập email của bạn" formControlName="email" />
                    <ng-template #emailErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Vui lòng nhập email!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('email')">
                            Email không hợp lệ!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <div class="text-center">
                <app-button type="primary" size="large"  class="forget-btn" [fullWidth]="true" [disabled]="formGroup.invalid ||isLoading" style="text-align: center !important;">
                    {{isLoading ? 'Đang gửi...' : 'Gửi liên kết'}}
                </app-button>
            </div>

            <div class="back-login">
                Nhớ mật khẩu?
                <a [routerLink]="['/login']">Đăng nhập</a>.
            </div>
        </form>
    </div>
</div>