@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.right-toolbar {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 95px;
  height: 100vh;

  @include m.sm {
    display: none;
  }
}
