@use '_variables' as v;
.ant-btn {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

.ant-modal-header {
  border-radius: 8px !important;
}
.ant-modal-content {
  border-radius: 8px !important;
}

.ant-wave {
  display: none !important;
}

html {
  --antd-wave-shadow-color: transparent !important;
}

.ant-checkbox .ant-checkbox-inner {
  background-color: v.$primary-color-admin !important; 
  border-color: v.$primary-color-admin !important;
}