// Error passwrord validator
.text-red-500 {
  color: #ff4d4f !important;
}
.text-xs {
  font-size: 12px !important;
}
.mt-1 {
  margin-top: 4px !important;
}
.list-disc {
  list-style: none;
  padding-left: 5px;
}
// End Error passwrord validator