<nz-modal [(nzVisible)]="visible" nzTitle="Gán quyền" (nzOnCancel)="handleCancel()" (nzOnOk)="handleSave()"
  nzWidth="800px" nzWrapClassName="permissions-modal">
  <div *nzModalContent>
    <div class="permissions-header">
      <div>
        <input nz-input [(ngModel)]="searchKeyword" placeholder="Tìm kiếm quyền..." />
        <app-button nz-button type="primary" size="medium" (click)="searchPermissions()">Tìm kiếm</app-button>
      </div>
      <nz-form-label nz-checkbox [ngModel]="isAllSelected()" (ngModelChange)="toggleAllPermissions($event)">
        Chọn tất cả
      </nz-form-label>
    </div>

    <div class="permissions-container">
      <div class="permissions-sidebar">
        <ul>
          <li *ngFor="let group of groupedPermissions" [class.active]="group.module === selectedModule"
            (click)="selectedModule = group.module" (keydown)="selectedModule = group.module">
            {{ group.module }}
          </li>
        </ul>
      </div>

      <div class="permissions-content" *ngIf="selectedModule">
        <h4>{{ selectedModule }}</h4>

        <nz-form-label nz-checkbox [ngModel]="isAllSelected(selectedModule)"
          (ngModelChange)="toggleAllPermissions($event, selectedModule)">
          Chọn toàn bộ
        </nz-form-label>

        <ul>
          <li *ngFor="let perm of getPermissionsByModule(selectedModule)">
            <nz-form-label nz-checkbox [(ngModel)]="perm.granted" (ngModelChange)="allChecked = isAllSelected()">
              {{ perm.description }}
            </nz-form-label>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <app-button nz-button type="cancel" size="medium" (click)="handleCancel()"
      style="margin-right: 8px;">Hủy</app-button>
    <app-button nz-button type="primary" size="medium" (click)="handleSave()"
      [permissions]="PERMISSION_GROUPS.ADMIN">Lưu thay đổi</app-button>
  </div>
</nz-modal>